.main-page {
    width: 100%;
    min-height: 100vh;
    display: flex;

    .open {
        transform: translateX(-100%);
    }

    .closed {
        transform: translateX(100%);
    }

    .main-container {
        flex: 6;
    }
}

.hamburger {
    position: sticky;
    left: 0;
    display: flex;
    justify-content: center;
    width: 10vw;
    background-color: #222522;
    height: 100vh;
    z-index: 100;
}